.CategoryList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding-right: 30px;
}

.CategoryList a{
  padding: 10px;
}

.CategoryList a:link, a:visited, a:hover a:active{
  text-decoration: none;
  color: black;
  border-radius: 50px;
  font-size: 32px;
  background-color: yellow;
  font-size: 19px;
  font-weight: 600;
}