.item {
  border: 2px solid #000;
  padding: 10px 22px;
  border-radius: 20px;
}

.itemId {
  width: 30% !important;
}

.itemImg {
  height: 300px;
  width: 100%;
}

.itemTitle{
  font-size: clamp(1rem, 5vw, 2em);
  font-weight: 600;
  margin-top: 5px;
  background: rgb(217,101,12);
  background: linear-gradient(90deg, rgba(217,101,12,1) 9%, rgba(255,251,8,1) 49%, rgba(217,101,12,1) 83%);
  color: transparent;
  background-clip: text;
}

.itemDescription{
  color: #ffffff;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow-x: hidden;
}

.itemPrice{
  color: #14a822;
  font-weight: 600;
  font-size: 28px;
  margin: 0;
}

.buyContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.card{
  background-color: #1c1f22;
}

.remainingStock {
  color: grey;
}

.buttonAddToCart {
  background: #17a921;
	border-radius:35px;
	border:2px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 3px black;
}
.buttonAddToCart:hover {
  background: #29cf37;
}

.buttonAddToCart.disabled {
  background: #888888;
  border: 2px solid #666666;
  cursor: not-allowed;
}

.buttonMoreInfo {
  background-color: #1c1f22;
  border-radius: 35px;
  border: 2px solid #d9650c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 3px #dbb728;
  margin-top: 10px;
}

.buttonMoreInfo:hover {
  background: #666666;
  color: #000;
  text-shadow: 0px 1px 3px #ffffff;
  border: 2px solid #ffffff;
}