body {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background-image: url(./assets/bgb.jpg);
    background-color: #1C1C1C;
}

a {
    text-decoration: none;
}

.headerWrapper{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
}